body{
    position: absolute;
    width: 1238px;
    height: 3434px;
    background: #BDC7C9;
    overflow-x: hidden;
}
.logo{
    margin-left: 20%;
    color:#845460;
    font-size: 20px;
    line-height: 20px;

}
h1{
    -webkit-text-fill-color: #BDC7C9;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #845460;
}
.badge-bg{
    padding: 0%;
    margin: 0%;
    margin-left: 38%;
    margin-top: -12%;
    position: absolute;
    width: 500px;
    height: 600px;
    background: #EAD3CB;
}
.task{
    position: absolute;
    margin-left: 80%;
    margin-top: -12%;
    display:inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 18px;
    color: #845460;
}
.maroon-bg{
    position: absolute;
    margin-left: 20%;
    width: 85vw;
    height: 85vh;
    background: #845460;
    
}
.grey-bg{
    position: absolute;
    margin-top: 45%;
    margin-left: 34vw;
    width: 1200px;
    height: 177px;
    background: #BDC7C9;
}
.personal-image{
    position: absolute;
    background-repeat: no-repeat;
    width: 409.83px;
    height: 18%;
    background: url(images/WhatsApp_Image_2021-06-03_at_15.47.59-removebg-preview.png);
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
    margin-left: 42%;
    margin-top: -115px;
}
.capital{
    position: absolute;
    width: 341.63px;
    height: 357px;
    font-family: Rosario;
    font-style: normal;
    font-size: 90px;
    line-height: 45px;
    margin-left: 206px;
    margin-top: 25%;
}
.sul{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.tan{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.Quote{
    position: absolute;
    width: 366.04px;
    height: 330px;
    font-family: Rosario;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 40px;
    margin-left: 85%;
    margin-top: 5%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.list{
    position: absolute;
    width: -12.93px;
    height: 41px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    color: #845460;
    display: flex;
    gap: 100px;
    margin-left: 60%;
    margin-top: 46%;
}
.experience{
    position: absolute;
    width: 320px;
    height: 144px;
    font-family: Rosario;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin-top: 65%;
    margin-left: 20%;
}
.fields{
    margin-top: 75%;
    position: absolute;
    width: 200px;
    margin-left: 20%;
    height: 60px;
    gap: 23px;
    display: flex;
}
.image{
    position: absolute;
    margin-top: 85%;
    margin-left: 20%;
}
.aboutshadow{
    position: absolute;
    width: 600px;
    height: 450px;
    background: #EAD3CB;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-top: 95%;
    margin-left: 70%;
}
.abouts{
    position: absolute;
    width: 600px;
    height: 450px;
    background: #845460;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-top: 94%;
    margin-left: 69%;
}
.me{
    position: absolute;
    width: 488px;
    height: 10px;
    font-family: Rochester;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 0px;
    margin-left: 10%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.designer{
    position: absolute;
    width: 550px;
    height: 444px;
    font-family: Rosario;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #EAD3CB;
    margin-left: 2%;
}
.myprojects{
    position: absolute;
    width: 100vw;
    height: 704px;
    background: #845460;
    margin-left: -1%;
    margin-top: 1665px;
}